<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>296599527406-uqdbsbbbkfuobm1f7sv6k6f253k97cq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296599527406-uqdbsbbbkfuobm1f7sv6k6f253k97cq8</string>
	<key>API_KEY</key>
	<string>AIzaSyCD34hyBezNd2Klbo9DbOsZA1E3flMM83o</string>
	<key>GCM_SENDER_ID</key>
	<string>296599527406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeancarlosaps.CompletionProject</string>
	<key>PROJECT_ID</key>
	<string>completion-project</string>
	<key>STORAGE_BUCKET</key>
	<string>completion-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296599527406:ios:10c158f10ccb5f17</string>
	<key>DATABASE_URL</key>
	<string>https://completion-project.firebaseio.com</string>
</dict>
</plist>